@charset "UTF-8";

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Body */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main#principal,
header#cabecalho,
footer#rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #FFF;
}

/* Header */
header#cabecalho div.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

header#cabecalho figure {
  display: flex;
  align-items: center;
}

header#cabecalho figure img {
  object-fit: contain;
}

header#cabecalho figure figcaption {
  display: none;
}

/* Itens do Menu */
nav.menu ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

/* nav.menu ul li  */
/* nav.menu ul li a: hover */

section.title {
  display: none;
}

div.container {
  width: 80%;
}

section.cards-highlight {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

section.cards-highlight article.card img {
  width: 250px;
  height: auto;
  border-radius: 5px;
}

footer#rodape {
  text-align: center;
  padding: 1rem 0;
}
