<body>

  <h1>Nossa Alimentação</h1>

  <div class="info-alimentacao">

    <div class="alimentacao">
      
      <p>
        Na nossa creche, acreditamos que a alimentação é parte fundamental do desenvolvimento, do cuidado e do afeto com cada criança. Atendemos bebês a partir de 4 meses até crianças de 4 anos, respeitando cada fase do crescimento com atenção, carinho e qualidade nutricional.

Para os bebês, trabalhamos com a introdução alimentar de forma cuidadosa e individualizada, sempre acompanhando as necessidades de cada criança e incentivando uma relação saudável com os alimentos desde os primeiros contatos com novos sabores e texturas.

Toda a nossa alimentação é acompanhada por uma nutricionista, garantindo refeições equilibradas, nutritivas e adequadas para cada faixa etária.

Prezamos por uma alimentação natural e caseira. Não utilizamos alimentos industrializados em nossa rotina. Nossos lanches são preparados artesanalmente na própria creche: fazemos massas, recheios, cookies e outras preparações com ingredientes selecionados e muito carinho.

No almoço e jantar, buscamos oferecer refeições variadas, coloridas e saborosas. Trabalhamos com intercalações de arroz branco, integral e com açafrão, sempre acompanhados de feijão, proteínas, saladas e legumes frescos.

Acreditamos que pratos coloridos despertam o interesse das crianças, estimulam hábitos saudáveis e tornam a alimentação um momento prazeroso, de descoberta e aprendizado.
      </p>
    </div>