<body>

  <h1>Nossas Turmas</h1>

  <div class="info-turmas">

    <div class="turma">
      <h2>Berçário I</h2>
      <p><strong>Idade:</strong> 04 meses a 1 ano e 6 meses.</p>
      <p>
        Estímulos voltados para desenvolvimento sensorial,
        coordenação motora, vínculo afetivo, musicalização,
        interação social e descobertas do corpo e do ambiente.
      </p>
    </div>

     <div class="turma">
      <h2>Berçário II</h2>
      <p><strong>Idade:</strong> 1 ano e 6 meses a 2 anos e 6 meses.</p>
      <p>
        Estímulos voltados para desenvolvimento sensorial,
        coordenação motora, vínculo afetivo, musicalização,
        interação social e descobertas do corpo e do ambiente,
        iniciando também a autonimia e reconhecimento de letras.
      </p>
    </div>

    <div class="turma">
      <h2>Maternal</h2>
      <p><strong>Idade:</strong> 2 e 6 meses a 3 anos e 6 meses.</p>
      <p>
        Desenvolvimento da linguagem oral, autonomia,
        coordenação motora, brincadeiras pedagógicas,
        socialização e estímulos criativos..
      </p>
    </div>

    <div class="turma">
      <h2>Jardim</h2>
      <p><strong>Idade:</strong> 3 anos e 6 meses a 4 anos e 6 meses.</p>
      <p>
        Estímulos para alfabetização inicial,
        raciocínio lógico, expressão artística,
        convivência, identidade e preparação
        para o pré-escolar.
      </p>
    </div>

  </div>

</body>